Makefile.old
*.swp
Makefile
Twig.pm_bak
Twig_pm.slow.padre
*.tar.gz
blib/
cover_db/
cover_report.txt
nytprof.out
nytprof/
patch.*
pm_to_blib
tata.txt
tmp
dev.html
dev.txt
Debian_CPANTS.txt
encode
test_uri
test_utf

